/* header {
    /* display: inline-flex; */
    /* width: -webkit-fill-available; */
    /* left: 0px; */
    /* height: 126px; */
    /* top: 0px; */
    /* background-color: #29232c; */
    /* position: fixed;
} */

body {
    display: inline-block;
    align-items: center;
}

/* for header */
.headerContent {
    /* background-color: #394e60; */
    background-color: #29232c;
    display: flex;
    position: fixed;
    align-items: center;
    height: 100px;
    padding-bottom: 20px;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 2px 2px #32DE8A;
}

.navItem {
    margin: 0px 10px 0px 10px;

}

html {
    background-color: #ececec;
}

.rando {
    top: 33px;
    position: fixed;
}

img {
    position: inherit;
    width: 80px;
    height: 80px;
}

.site-title {
    top: 40px;
    left: 95px; 
    font-size: 35px;
    color: #32DE8A;
    position: fixed;
    display:contents;
}

.site-title a {
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    color: #32DE8A;
    display: inline-block;
    margin: 10px 40px 10px 40px;
}

.site-title a:hover {
    text-decoration: underline;
    
}

.spotify {
    left: 300px;
    position: fixed;
    top: 30px;
}

.site-title img {
    margin-left: 15px;
}
.liked {
    left: 450px;
}

.search {
    /* position: fixed;
    top: 60px;
    margin: 0px 10px 0px 10px;
    right: 39px;
    width: 220px;
    height: 30px; */
}

.instructions {
    border-radius: 10px;
    border: 2px solid #c8abb4;
    width: 460px;
    /* position: relative; */
    margin: 30px 50px 30px 50px;
    height: fit-content;
    background-color: #29232c;
    color: #c8abb4;
    padding: 10px;
    width: fit-content;
}

.info {
    margin:10px;
    padding:20px;
    border: #c8abb4 1px solid;
    border-radius: 10px;
    /* width:400px; */
    /* width: fit-content; */
}

.instructions h1 {
    font-size: 25px;
}

.content {
    /* top: 100px; */
    /* display: inline-block; */
    margin: 150px 0px 20px 0px;
    /* position: relative; */
    /* left: 50px; */
    /* width: 1000px; */
    /* right: 50px; */
    /* height: 520px; */
    /* overflow-y: scroll; */
    /* width: -webkit-fill-available; */
}

/* FOR LIKED SONGS */
.imgWrap {
    width: 89px;
    height: 89px;
    position: fixed;
    left: 425px;
    top: 25px;
}

.homeRand {
    position: relative;
    left: 20px;
    top: 20px;
}

.indivLabel {
    border: #c8abb4 1px solid;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    display: flex;
}

.textHome {
    font-size: 15px;
    margin: 10px;
}

.likedText{
    visibility: hidden;
    color: #c8abb4;
    align-items: center;
}

.imgWrap:hover .likedText{
    visibility: visible;
    background-color: #26de51c7;
    color:rgba(0, 0, 0, 0.877);
    border-color: rgb(196, 255, 137);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    border-radius: 10px;
    width: 77px;
    position: inherit;
    top: 5px;
    left:496px;
    align-items: center;
    cursor: pointer;
}

/* FOR HOME ICON */
.header-image-container {
    width: 90px;
    height: 90px;
    left: 10px;
    top: 20px;
    position: fixed;
}

.homeText{
    visibility: hidden;
    color: #c8abb4;
    align-items: center;
}

.header-image-container:hover .homeText {
    visibility: visible;
    background-color: #26de51c7;
    color:#29232c;
    border-color: chartreuse;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-radius: 10px;
    width: 60px;
    position: inherit;
    text-align: center;
    top:5px;
    left:20px;
    cursor: pointer;
}

.homeWrap{
    left: 80px;
    position: fixed;
}

.top {
    background-color: #29232c;
    color: #c8abb4;
    /* ch 50 --> 90 */
    display: inline-block;
    margin: 30px;
    border-radius: 10px;
    height: fit-content;
    padding: 10px;
    /* width: fit-content; */
    width: 460px;
    vertical-align: top;
}

#gatheredPlaylists {
    border: #29232c 5px solid;
    height: fit-content;

    /* fix the positioning */
    vertical-align: top;
   
    margin: 30px 40px 30px 40px;
    background-color: #29232c;
    border-radius: 10px;
    border: #c8abb4 2px solid;
    width: 450px;
    left: 50px;
    text-align: center;
    height: fit-content;
    padding: 10px;
}

.rank {
    width:30px;
}

.chart {
    width:200px;
}

/* .decorate {
    background-color: #29232c;
    position: absolute;
    display: block;
    position:fixed;
} */

.sides {
    width: 60px;
    top: 110px;
    height: -webkit-fill-available;
    right: 0px;

}

.left {
    left: 0px;
}

/* .bottom {
    width: -webkit-fill-available;
    left: 0px;
    height: 26px;
    bottom: 0px;
    background-color: #29232c;
    position: fixed;
} */

/* .diffCountry {
    left:50px;
    position:fixed
} */

.plsylistTxt {
    color: #c8abb4;
    margin:10px;
    font-size: 15px;
}

.displayPlaylists {
    margin: 5px 5px 10px 10px;
    display: inline-flex;
    border:#c8abb4 1px solid;
    border-radius: 10px;
    background-color: #29232c;
    align-items: center;
}

.searched, .playlistDescription{
    font-size: 20px;
}

.playlistDescription:hover {
    cursor: pointer;
}

.playlistDescription {
    width:30px;
}

.searched {
    margin: 20px;
    padding:10px;
}

.HiddenText{
    visibility: hidden;
    color: #c8abb4;
    position: absolute;
    width: 100px;
    padding: 7px;
    border-radius: 7px;
    font-size: 10px;
}

.helpDescription {
    margin-top: -40px;
    padding: 10px 5px 10px 5px;
}

.containerDescription:hover .HiddenText {
    visibility: visible;
    background-color: #26de51c7;
    color:#29232c;
    border-color: #26de51c7;
}

.containerHelp {
    width:100px;
    position:fixed;
    right:70px;
    
}

.containerHelp img {
    top: 20px;
    cursor: help;
    right: 20px;
}
.containerHelp:hover .HiddenText{
    visibility: visible;
    background-color: #26de51c7;
    color:#29232c;
    border-color: #c8abb4;
    font-size: 13px;
}

.play {
    background-color: #c8abb4;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    text-align: center;
    margin: 10px;
}

.explainLayout {
    width: 389px;
}

.indivPlaylist {
    display: inline-flex;
    margin: 5px;
    right: 20px;
    width: 391px;
}
.creatorName {
    width:200px;
}

.playlistName {
    width:150px;
}

.containerMusicPlayer {
    background-color: #29232c;
    position: relative;
    right: 100px;
    top: 30px;
    width: 370px;
    height: 450px;
    border-radius: 10px;
    border: #26de51c7 2px solid;
    margin:10px;
}

.songInfo {
    margin: 0px 10px 0px 10px
}

.txt {
    color: #c8abb4;
    font-size: 15px;
    margin: 10px;
    margin-top: 20px;
}

.coverImg {
    width: 370px;
    height: 210px;
}

.coverImage {
    width: 200px;
    height: 200px;
    top: 260px;
    right: 280px;
}

.mediaOptions {
    margin: 10px;
    border-radius: 10px;
    border: #c8abb4 1px solid;
    align-content: center;
    position: relative;
}

.chosenPlaylist {
    padding: 10px;
    margin-top: 30px;
    border: #c8abb4 1px solid;
    border-radius: 10px;
    text-align: center;
}

.idk {
    border: #c8abb4 1px solid;
    margin: 30px 0px 20px 0px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.mediaOptions .fa {
    color: #c8abb4;
    padding:20px;
}

.media {
    margin: 0px 18px 0px 18px;
}

/* liked page */
.NOTYET {
    position:fixed;
    left:200px;
    top:200px;
    font-size: 30px;
}

.likedButton {
    background-color: #29232c;
    color:#c8abb4;
    box-shadow: #c8abb4;
}

.likedButton:hover {
    background-color: #c8abb4;
    color:#29232c;
    border-color: rgb(210, 237, 182);
}

.link:hover {
    cursor: pointer;
}

/* .askOtherCountry {
    /* left: 2px; */
    /* position: absolute; */
    /* margin: 50px; */
    /* top: 390px; */
    /* display: inline-flex; 
} */

#searchCountryFunct {
    border-color: #c8abb4;
    border-radius: 10px;
    color: #c8abb4;
    background-color: #29232c;
    border-color: #c8abb4;
    width: 250px;
}

#searchCountryButton {
    border-radius: 10px;
    color: #c8abb4;
    background-color: #29232c;
    border-color: #c8abb4;
    cursor: pointer;
}

#searchCountryButton:hover {
    color:#29232c;
    background-color: #c8abb4;
    border-color:#ffc5cc;
}

/* .diffCountry {
    left: 161px;
    width: 300px;
    top: 550px;
    position:static;
    margin:10px;
} */

#countryChoose {
    color: #c8abb4;
    background: #29232c;
    border-color: #c8abb4;
    border-radius: 10px;
}


/* for search bar */
.formSearch {
    /* width:400px; */
    display: inline-flex;
}

#inputNum {
    border-radius: 10px;
    color: #32DE8A;
    background-color: #29232c;
    border-color: #26bc73;
    width: 100px;
    margin: 10px 0px 10px 10px;
}

#changeColor {
    border-color: #c8abb4;
    color: #c8abb4;
    background-color: #29232c;
    border-color: #c8abb4;
    width: 100px;
    /* margin: 10px 0px 10px 10px; */
    border-radius: 10px;
}

.choosePlaylist {
    border: #c8abb4 1px solid;
    color: #c8abb4;
    border-radius: 10px;
    background-color: #29232c;
    height: fit-content;
    /* position: relative; */
    /* top: 30px; */
    /* ch 700 --> 500 */
    width: 500px;
    padding: 10px;
}

#searchFunct {
    /* position: absolute; */
    /* right: 210px; */
    margin: 10px;
    border-radius: 10px;
    color: #32DE8A;
    background-color: #29232c;
    border-color: #26bc73;
    /* width: 250px; */
}

#searchFunct:focus {
    border-radius: 10px;
    border-color: #26bc73;
}

#searchButton {
    /* right: 110px; */
    margin-left: 10px;
    margin-top:10px;
    border-radius: 10px;
    color: #32DE8A;
    background-color: #29232c;
    border-color: rgb(38, 188, 115);
    cursor: pointer;
}

.fixHeight {
    height: fit-content;
    margin: 10px 5px 10px 5px;
}

#searchButton:hover {
    color:#29232c;
    background-color: #32DE8A;
    border-color:#26bc73;
}

.pick {
    color:#c8abb4;
    background-color: #29232c;
    border: 1px #c8abb4 solid;
    border-radius: 10px;
    margin: 10px 10px 20px 10px;
}

#playlistChooseButton {
    border-radius: 10px;
    color: #c8abb4;
    background-color: #29232c;
    border-color: #c8abb4;
    cursor: pointer;
}

.containerInfo {
    width: fit-content;
}

.indivTrack {
    width: 429px;
}

.track {
    width: 250px;
    text-align: center;
}

.track a {
    color:#c8abb4;
    text-decoration: none;
}

.track a:hover {
    color:#c8abb4;
    text-decoration: underline;
}

.pickPlaylist {
    font-size: 15px;
}

.linkPl {
    color:#c8abb4;
    text-decoration: none;
    margin:5px;
}

.linkPl:hover {
    color:#c8abb4;
    text-decoration: underline;
}

.categorySeparate {
    display: inline-block;
}

.fix_width {
    display: inline-block;
    /* width: 200px; */
}