{% extends "layout.html" %}
{% block content %}
  <div class="content">
      <div class="containerHelp">
        <img class = "helpImg" src="{{ url_for('static', filename='help.png')}}" 
            alt="how to use randomate">
        <p class="HiddenText helpDescription">To use randomate enter a word or 
          phrase into the top right search box, if you want, you can also include
          a number of items you want. Then press the search button and receive a list
          of playlists to discover! To see the playlist description hover over 
          "...". To see the spotify page for that playlist, click on the heart 
          button to the left of the playlist name. If you would like to see the 
          tracks of a specific playlist click on the playlist.
        </p>
      </div>

      <div class="instructions top">
        <div class="info">
          <h1 class="title">Quick Guide...</h1>
          <p class="description textHome">Welcome to Randomate!</p>
          <p class="description textHome">Randomate makes discovering new music 
            quick and easy! The only limitation is your imagination. 
            Finding new music can now be done in four easy steps.
          </p>
          <ol class = "description textHome" class="list">
            <li>Enter a word or phrase into the search bar</li>
            <li>Click the search button</li>
            <li>Browse the suggested playlists</li>
            <li>Enjoy new music!</li>
          </ol>
          <p class="description textHome">You can also see the top 100 tracks
            from Billboard's charts. In the drop down menu you can select a different
            chart to view and can change the amount of tracks you wish to see.
          </p>
        </div>
      </div>

      <div class="askOtherCountry top">
              <div class="info">
                <h1 class="Title">Interested in another Category?</h1>
                <p class="indivLabel searchCountryTxt">Choose a category from the menu below and click the search button!</p>
               <div class="indivLabel categorySeparate">
                <p>You have three options!</p>
                <ol>
                  <li>Choose a category and enter a the number of songs you want to see</li>
                  <li>Enter only a category</li>
                  <li>Or enter nothing at all and simply enjoy the Top 100 tracks on Billboard!</li>
                </ol>
              </div>
                <div ><!--  class="search diffCountry" class="formSearch"-->
                  <div class="fix_width">
                  <form  method="GET POST">
                    <label for="countryChoose" ></label>
                      <select id="countryChoose" class="filter-input fixHeight" name="p">
                        <option selected value="">Choose a Billboard chart category</option>
                        {% for category in category %}
                        <option value="{{ category.link }} ">{{ category.category }}</option>
                        {% endfor %}
                        <input id="changeColor" class = "fixHeight" type="text" placeholder="number less 100" name="n" max="100">
                      </select>

                    <button id="searchCountryButton" class = "fixHeight" type="submit" value="Go"><i class="fa fa-search"></i></button>
                    </div>

                  </form>
                </div>
              </div>
            </div>

      <div class="top">
        <div class="info">
        <h1 class="Title">Top {{ selected }} Songs</h1>
        <div id="gatheredData ">
            <div class="indivLabel">
              <p class="textHome rank">Rank</p>
              <p class="textHome chart">Song</p> 
              <p class="textHome chart">Artist</p> 
              <p class="textHome chart">Current Streams</p>
            </div>
            {% for dataChart in dataCharts%}
            <div class="indivLabel">
              <p class="textHome rank">{{ dataChart.rank }}</p>
              <p class="textHome chart">{{ dataChart.song }}</p> 
              <p class="textHome chart">{{ dataChart.artist }}</p> 
              <p class="textHome chart">{{ dataChart.streams }}</p>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

      
    </div>
{% endblock content %}