<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Randomate | {{ title }}</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='homepage_style.css')}}">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="icon" href="http://example.com/favicon.png">
  </head>
  

    <header>
      <div class="headerContent">
          <!-- <div class="header-image-container navItem">
            <a href="{{ url_for('homepage') }}"><img src="{{ url_for('static', filename='home.png')}}" alt="randomate logo" class="homeRand"></a>
            <p class="homeText HiddenText">Go Home</p>
        </div> -->
        
        <div class = "menu" >
          <a href="{{ url_for('homepage') }}"><img src="{{ url_for('static', filename='home.png')}}" alt="randomate logo" class="homeRand navItem" ></a>
          <h1 class="site-title navItem"><a href="{{ url_for('homepage') }}" >Home</a></h1>
          <h1 class = "site-title navItem" ><a href="https://open.spotify.com/" target="_blank" >  Spotify  </a></h1>
          
          <form class="formSearch" method="GET" method="POST">
            <input class = "navItem" id="searchFunct" type="text" placeholder="Enter a Word" name="q">
            <input class = "navItem" id="inputNum" type="text" placeholder="number less 20" name="size" max="20">
            <button id="searchButton" class = "fixHeight" type="submit" value="Go"><i class="fa fa-search"></i></button>
          </form>
        </div>
    </div>
    </header>

    <body>
    <!-- <div class="decorate left sides"></div> -->

    <!-- <main class="content"> -->
      
      {% block content %} {% endblock %}
    <!-- </main> -->

    <!-- <div class="decorate right sides"></div> -->
      
    <!-- <div class="decorate bottom"></div> -->

  </body>
</html>

