{% extends "layout.html" %}
{% block content %}
  <div class="content">
        <div id="gatheredPlaylists" class="top">
          <h1 class="plsylistTxt searched">Playlist Inspiration is {{ search }}</h1>
          <div class="displayPlaylists explainLayout">
            <!-- <div class="indivPlaylist"> -->
              <p class="plsylistTxt playlistName" ></a>Playlist Name</p>
              <p class="plsylistTxt creatorName">User of Creator</p>
              <!-- <img  class = "plsylistTxt playDescription" src="imgs/home.png" alt="Description of Playlist"> -->
              <div class="containerDescription">
                <p class="plsylistTxt playlistDescription">...</p>
                <p class="descriptionPlay HiddenText">description</p>
            <!-- </div> -->
            </div>
            
        </div>

        {% for dataPlaylists in dataPlaylists %}
        <div class="indiv displayPlaylists explainLayout">
          
          <div class="indivPlaylist">
            
            <div class="play" class="link"><a href="https://open.spotify.com/playlist/{{ dataPlaylists.id }}" target="_blank" > <button name ="add" class="likedButton link" data-playlist="{{ dataPlaylists.id }}" data-user='{{ dataPlaylists.owner["id"] }}' data-name='{{ dataPlaylists.name }}' data-creator='{{ dataPlaylists.owner["display_name"] }}'> <i class="fa fa-heart"></i></button> </a></div>
            <p class="plsylistTxt playlistName " data-playlist='{{ dataPlaylists.id}}'></a>{{ dataPlaylists.name }}</p>
            <p class="plsylistTxt creatorName " data-user='{{ dataPlaylists.owner["id"] }}'> {{ dataPlaylists.owner["display_name"] }}</p>
            <!-- <img  class = "plsylistTxt playDescription" src="imgs/home.png" alt="Description of Playlist"> -->
            <div class="containerDescription">
              <p class="plsylistTxt playlistDescription">...</p>
              {% if dataPlaylists.description == "" %}
                <p class="descriptionPlay HiddenText">No description</p>
              {% else %}
                <p class="descriptionPlay HiddenText">{{ dataPlaylists.description }}</p>
              {% endif %}
          </div>
        </div>
        
        </div>
        <!-- </div> -->
        {% endfor %}
        </div>

        <div class="choosePlaylist top" >
          <div class="info containerInfo">
            <h1 class="Title">If you want to see the tracks of a specific playlist... click on the drop menu below</h1>
            {% if chose != "" %}
            <p class="indivLabel pickPlaylist">Now viewing tracks from <span><a href="https://open.spotify.com/playlist/{{ choseid }}" target="_blank" class="linkPl"> {{ chose }}</a></span></p>
            {% endif %}
            <div class="containerPlaylistChoose">
              <form class="formChoose" method="GET POST">
              <label for="pickPlay"></label>
              <!-- <div class="filter-input-element"> -->
                <select id="pickPlay" class="pick" name="playlist"> 
                  <option selected value="">Choose a playlist to view</option>
                  {% for dataPlaylists in dataPlaylists %}
                  <!-- value had playlist id and creator id separated by a space, use .split() in python to separate -->
                  <option value='{{ dataPlaylists.id }} {{ dataPlaylists.owner["id"] }}'>{{ dataPlaylists.name }}</option>
                  {% endfor %}
                </select>
              <!-- </div> -->
              <button id="playlistChooseButton" type="submit" value="Choose"><i class="fa fa-search"></i></button>
            </form>
            
            </div>
            {% if chose != "" %}
            <div class="displayPlaylists indivPlaylist indivTrack">
              <p class="plsylistTxt track songTitle">Track</p>
              <p class="plsylistTxt track artistCreator">Album</p>
              <p class="plsylistTxt track creatorName">Artist</p>
            </div>
            {% for songs in songs %}
            <div class="displayPlaylists indivPlaylist indivTrack">
                <p class="plsylistTxt track songTitle"><a href='https://open.spotify.com/track/{{ songs.id }}' target="_blank">{{ songs.name }}</a></p>
                <p class="plsylistTxt track artistCreator"><a href='https://open.spotify.com/album/{{ songs.albumId }}' target="_blank">{{ songs.albumName }}</a></p>
                <p class="plsylistTxt track creatorName"><a href='https://open.spotify.com/artist/{{ songs.artistId }}' target="_blank">{{ songs.artistName }}</a></p>
          </div>
          {% endfor %}
          {% endif %}

          </div>
        </div>
      </div>
{% endblock content %}